<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/signup.css">
</head>

<body>
    <div class="signup-box">
        <h1>Sign Up</h1>
        <h2> <%= title %> </h2>
        <h2> <%= password %> </h2>

        <form action="/signup" method="post">
            <label>First Name</label>
            <input type="text" name="Fname" placeholder="" />
            <label>Last Name</label>
            <input type="text" name="Lname" placeholder="" />
            <label>Aadhar number</label>
            <input type="number" name="AadharNumber" placeholder="" />
            <label>Email</label>
            <input type="email" name="email" placeholder="" />
            <label>Password</label>
            <input type="password" name="password" placeholder="" />
            <label>Confirm Password</label>
            <input type="password" name="Cpassword" placeholder="" />
            <button type="submit">signup</button>
            
        </form>

        <a href="/signin">Already a User? login..</a>
    </div>
    

</body>

</html>