<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/vcl.css">
</head>

<body>
    <div class="wrapper hover_collapse">

        <div class="top_navbar">
            <!-- logo -->
            <div class="logo">Voting</div>
            <!-- menu button -->
            <div class="menu">
                <div class="hamburger">
                    <i class="fas fa-bars"></i>
                </div>
            </div>

        </div>

        <div class="sidebar">
            <div class="sidebar_inner">
                <ul>
                    <li>
                        <a>
                            <span class="icon"><i class="fa fa-qrcode"></i></span>
                            <span onclick="prof()" class="text">Profile</span>
                        </a>
                    </li>

                    <li>
                        <a>
                            <span class="icon"><i class="fa fa-link"></i></span>
                            <span onclick="instru()" class="text">Instructions</span>
                        </a>
                    </li>
                    <li>
                        <a>
                            <span class="icon"><i class="fa fa-eye"></i></span>
                            <span onclick="cand()" class="text">Candidates</span>
                            <a href="/votercandidatelist"></a>
                        </a>
                    </li>
                    <li>
                        <a>
                            <span class="icon"><i class="fa fa-book"></i></span>
                            <span onclick="votin()" class="text">Vote</span>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <span class="icon"><i class="fa fa-question-circle"></i></span>
                            <span class="text">Results</span>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <span class="icon"><i class="fa fa-pen"></i></span>
                            <span class="text">Contact</span>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <span class="icon"><i class="fa fa-id-card"></i></span>
                            <span class="text">About</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>

    </div>
    <div class="party">
        <h1>Candidates</h1>
        <%partiesList.forEach(party => {%>
        <h1>Name: <%= party.name %> </h1>
        <p>Description: <%= party.desciption %> </p>
        <%})%> 
        
    </div>
</body>

</html>